
body {
    background: #1e2124;
    color: rgba(255, 255, 255, 0.61);
    overflow-x: hidden!important;
    background-size: cover;
}

body > .container:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.57);
}

legend, a {
    color: rgba(255, 255, 255, 0.61);
}

h1 {
    font-family: 'Cormorant Unicase', serif;
}

.jumbotron {
    background: none;
}

.well {
    background: rgba(0, 0, 0, 0.73);
    border: 0;
}

legend {
    border: 0;
}
